.underwelcome
    .outer 
        .inner 
            ul 
                li 
                    p 
                        span 1 000+
                        | количество проведенных сделок
                li 
                    p 
                        span 100+
                        | партнерский портфель: банки и частные инвесторы
                li 
                    p 
                        span 100 млн. ₽
                        | сэкономлено денег клиентов