.underwelcome {
    ul {
        display: flex;
        column-gap: 20px;
        padding: 15px 0;
        flex-direction: column;
        @media (min-width: 992px) {
            padding: 35px 0;
        }
        @media (min-width: 768px) {
            flex-direction: row;    
            justify-content: space-between;
        }
        li {
            max-width: 400px;
            p {
                span {
                    display: block;
                    white-space: nowrap;
                    font-weight: 300;
                    font-size: 3.75rem;
                    line-height: 120%;
                    font-family: 'Source Sans Pro', sans-serif;
                    margin-right: 10px;
                }
                display: flex;
                align-items: center;
                font-weight: 400;
                font-size: 1rem;
                line-height: 140%;
            }
        }
    }
}