.help {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #F6F7F9;
    @media (min-width: 992px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
     
    .inner > ul {
        padding-top: 30px;
        padding-bottom: 80px;
        display: grid;
        grid-template-columns: 1fr;
        
        row-gap: 10px;
        @media (min-width: 576px) {
            row-gap: 20px;
            column-gap: 20px;
            grid-template-columns: repeat(3, 1fr);
        }
        // @media (min-width: 992px) {
        //     grid-template-columns: repeat(6, 1fr);
        // }
        @media (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: 1200px) {
            grid-template-columns: repeat(6, 1fr);
        }
        li {
            background: #FFFFFF;
            border-radius: 6px;
            // min-height: 233px;
            width: 100%;
            padding: 20px 10px;
            input {display: none;}
            display: flex;
            
            @media (min-width: 768px) {
                padding: 36px 10px;
                justify-content: center;
            }
            @media (min-width: 992px) {
                min-height: 233px;
            }
            &._red {
                background: #F5E9EE;
                svg {
                    fill: #AC146F;
                }
            }
            div {
                svg {
                    min-width: 31px;
                    height: 31px;
                    margin-right: 19px;
                    fill: #14AC63;
                    @media (min-width: 576px) {
                        margin-bottom: 19px;
                        margin-right: 0;
                    }
                }
                display: flex;
                align-items: center;
                
                width: 100%;
                font-weight: 400;
                font-size: 18px;
                line-height: 130%;
                color: #000;
                
                
                @media (min-width: 576px) {
                    text-align: center;
                    flex-direction: column;
                    align-items: center;
                    max-width: 174px;
                }
            }
        }
    }
    .inner > div {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        @media (min-width: 576px) {
            column-gap: 30px;
            grid-template-columns: 1fr 1fr;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            overflow: hidden;
            object-fit: cover;
            @media (min-width: 992px) {
                padding-right: 70px;    
            }
        }
        & > div {
            padding-top: 11px;
            max-width: 680px;
            width: 100%;
            ul {
                padding-top: 2rem;
                padding-bottom: 3rem;
                li {
                    svg {
                        width: 18px;
                        height: 13px;
                        left: 0;
                        top: 2px;
                        position: absolute;
                    }
                    position: relative;
                    padding-left: 30px;
                    font-weight: 500;
                    font-size: 1.37rem;
                    line-height: 130%;
                    color: #000000;
                    margin-bottom: 1rem;
                    span {
                        color: $green;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            & > div {
                display: flex;
                justify-content: space-between;
                column-gap: 10px;
                flex-wrap: wrap;
                align-items: center;
                button {
                    padding: 20px;
                    
                    @media (max-width: 992px) {
                        max-width: 100%;
                        margin-bottom: 20px;
                    }
                }
                & > div {
                    display: flex;
                    column-gap: 10px;
                    flex-wrap: wrap;
                    align-items: center;
                    row-gap: 10px;
                    p {
                        font-weight: 400;
                        font-size: .81rem;
                        line-height: 140%;
                        max-width: 147px;
                    }
                }
            }
        }
    }
}