.welcome.welcome-js
    .swiper-wrapper
        div(style="--bg-1: url(../images/banner-woman.png);--bg-2: linear-gradient(98.72deg, #133F58 -9.3%, #14AC63 100%);color:white;").welcome__container.swiper-slide 
            .outer 
                .inner 
                    h1 Первый в своем деле кредитный брокер Москвы!
                    ul 
                        li 
                            +icon('check')
                            | Все виды кредитования физических лиц
                        li 
                            +icon('check')
                            | Ипотека без первоначального взноса 
                        li 
                            +icon('check')
                            | Кредитования бизнеса
                    button.btn.btn_green Получить консультацию
        div(style="--bg-1: url(../images/banner-woman1.png);--bg-2: linear-gradient(98.72deg, #E6F0F5 -9.3%, #F1F9F5 100%);color:black;").welcome__container.swiper-slide 
            .outer 
                .inner 
                    .h1 <span>Потребительский</span> кредит на любые цели
                    ul 
                        li Одобрение за 1 день
                    button.btn.btn_green Получить консультацию
    .swiper-pagination