.check {
    background: #F6F7F9;
    padding-bottom: 40px;
    
    @media (min-width: 992px) {
        padding-bottom: 80px;
    }
}
.check__container {
    display: flex;
    column-gap: 30px;
    border-bottom: 1px solid #D5DADF;
    padding-bottom: 40px;
    row-gap: 30px;
    flex-direction: column;
    @media (min-width: 992px) {
        row-gap: 60px;
        flex-direction: row;
        padding-bottom: 80px;
    }
    & > div {
        & > p.subtitle {
            font-weight: 400;
            font-size: 22px;
            line-height: 130%;
            color: #191C1F;
            display: block;
            max-width: 762px;    
        }
        & > p {
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 40px;
            }
        }
        & > p:not(.subtitle) {
            display: block;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #191C1F;
        }
        & > div {
            display: flex;
            column-gap: 20px;
            row-gap: 20px;
            flex-direction: column;
            @media (min-width: 576px) {
                max-width: 665px;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
            }
            & > div {
                max-width: 300px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    font-weight: 400;
                    font-size: 13px;
                    color: #5C6064;
                    line-height: 140%;
                    max-width: 147px;
                }
            }
        }
        button {
            padding: 20px;
            max-width: 295px;
        }
    }
    h3.check--title {
        font-weight: 400;
        font-size: 40px;
        line-height: 120%;
        font-family: 'Source Sans Pro', sans-serif;
        position: relative;
        padding-left: 70px;
        margin: 0;
        max-width: 580px;
        width: 100%;
        @media (min-width: 768px) {
            padding-left: 140px;
        }
        svg {
            width: 40px;
            height: 40px;
            position: absolute;
            left: 0;
            top: 0;
            @media (min-width: 768px) {
                width: 87px;
                height: 90px;
            }
        }
        strong {
            color: $green;
        }
    }
}