.check 
    .outer 
        .inner 
            .check__container 
                h3.check--title 
                    +icon('search1')
                    | Закажите <strong>бесплатную проверку</strong> вашей кредитной истории
                div 
                    p.subtitle Персональный кредитный рейтинг – это оценка кредитной истории заемщика
                    p Которая показывает, насколько надежным плательщиком он является. ПКР физического лица выражается в баллах, от 300 до 850 единиц. Чем выше его значение, тем больше шанс на одобрение кредита на нужных Вам условиях.
                    div
                        button(data-id="modal").btn.btn_green Узнать кредитную историю
                        div 
                            p или напишите нам в наш мессенджер
                            include ../social/social