.partners {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #F6F7F9;
    @media (min-width: 768px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    ul {
        padding-top: 30px;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        @media (min-width: 576px) {
            grid-template-columns: repeat(3,1fr);
            column-gap: 20px;
            row-gap: 20px;
    
        }
        @media (min-width: 992px) {
            column-gap: 2%;
            grid-template-columns: repeat(6,1fr);   
        }
        li {
            height: 80px;
            width: 100%;
            border-radius: 20px;
            background: white;            
            width: 100%;
            @media (min-width: 768px) {
                height: 123px;
            }
            &:last-child {
                a {
                    padding: 0 20px;
                }
            }
            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                column-gap: 10px;
                justify-content: center;
            }
            img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
            span {
                font-weight: 500;
                font-size: 30px;
                line-height: 120%;
                color: $first;
                display: block;
            }
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            color: $second;
        }

    }
}