.partners
    .outer 
        .inner 
            h2.title Банки партнеры
            ul 
                li 
                    a(href="#") 
                        img(src="./images/partners/gazprom.png" alt="Газпром")
                li 
                    a(href="#") 
                        img(src="./images/partners/sber.png" alt="Сбер")
                li 
                    a(href="#") 
                        img(src="./images/partners/open.png" alt="Открытие")
                li 
                    a(href="#") 
                        img(src="./images/partners/dom.png" alt="Дом РФ")
                li 
                    a(href="#") 
                        img(src="./images/partners/rosbank.png" alt="РОсбанк")
                li 
                    a(href="#") 
                        span 100+
                        | банки и частные инвесторы