.types
    .outer 
        .inner 
            h2.title Все виды кредитования и сделок с недвижимостью
            ul 
                li 
                    label
                        input(type="checkbox" id="potreb" checked)
                        div
                            p Потребительские кредиты на любые цели
                            img(src="./images/car.png")
                    
                li 
                    label
                        input(type="checkbox" id="podzalog")
                        div
                            p Кредиты под залог недвижимости за 1 день
                            img(src="./images/home.png")
                li 
                    label
                        input(type="checkbox" id="refinansirovanie")
                        div
                            p Рефинансирование кредитов на выгодных условиях
                            img(src="./images/procent.png")
                li 
                    label
                        input(type="checkbox" id="business")
                        div
                            p Кредиты любым видам бизнеса
                            img(src="./images/stanok.png")
                li 
                    label
                        input(type="checkbox" id="business")
                        div
                            p Ипотека без первоначального взноса
                            img(src="./images/city.png")
                li 
                    label
                        input(type="checkbox" id="dop")
                        div
                            p Дополнительные услуги
                            +icon('dop')    