.experience
    .outer 
        .inner 
           .experience__container 
                div
                    +icon('shield')
                    h2.title Наш опыт — гарантия положительного результата
                    p Оставьте заявку или напишите нам в мессенджеры, и мы предложим индивидуальные  условия кредитования
                div 
                    ul 
                        li 
                            +icon('shield-icon')
                            | Сложные и нестандартные сделки <span>Находим решение для самых различных ситуаций</span>
                        li 
                            +icon('money')
                            | Без предоплаты <span>Оплата услуг строго по факту получения денег</span>
                        li 
                            +icon('procent')
                            | Минимальные % ставки <span>Выдаем кредит и ипотеку с максимально выгодной процентной ставкой</span>
                        li 
                            +icon('chat')
                            | Бесплатные консультации <span>Все консультации абсолютно бесплатны</span>                            