.map.welcome 
    .swiper-wrapper
        div(style="--bg-1: url(../images/banner-woman2.png);--bg-2: linear-gradient(98.72deg, #E6F0F5 -9.3%, #F1F9F5 100%);color:black;").welcome__container.swiper-slide 
            .outer 
                .inner 
                    h1 Контакты
                    ul.map__list 
                        li 
                            p Адрес нашего офиса
                                span г. Москва, Бизнес Центр Плаза, ул. Бутырская, д. 62
                        li 
                            p Номер телефона
                                a(href="tel:89881516318").phone 8 (988) 151-63-18
                                span Работаем с понедельника по пятницу с 10:00 до 19:00
                        li 
                            p Мессенджеры
                                a(href="mailto:info@fks-moscow.ru") info@fks-moscow.ru
                            include ../social/social
                        li
                            button.btn.btn_green Получить консультацию