.map.welcome {
    .welcome__container {
        @media (max-width: 992px) {
            background: var(--bg-1, none) no-repeat left calc(62% + 40px) top -20px, var(--bg-2, none);    
        }
    }
    .inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 992px) {
            min-height: 540px;
        }
    }
    ul {
        display: flex;
        column-gap: 20px;
        flex-direction: column;
        row-gap: 10px;
        @media (min-width: 992px) {
            flex-direction: row;
        }
        li {
            height: fit-content;
            &:first-child {
                max-width: 400px;
                width: 100%;
            }
            &:nth-child(2) {
                max-width: 262px;
                width: 100%;
            }
            &:nth-child(3) {
                max-width: 262px;
                width: 100%;
                display: flex;
                flex-direction: column;
                height: fit-content;
                .social {
                    margin-top: 11px;
                }
                p {
                    & > a {
                        display: block;
                        margin-top: 12px;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 130%;
                        color: $green;
                        transition: .4s ease-out;
                        &:hover {
                            color: $hover;
                        }
                    }
                }                
            }
            &:nth-child(4) {
                
                display: flex;
                flex-direction: column;
                margin-top: auto;
                @media (min-width: 992px) {
                    margin-left: auto;
                }                
                button {
                    max-width: 277px;
                    margin-top: 20px;
                    white-space: nowrap;
                    @media (min-width: 992px) {
                        margin-top: 0;    
                    }
                }
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 140%;
                color: #5C6064;
                span {
                    margin-top: 12px;
                    display: block;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 130%;
                    color: #191C1F;
                    max-width: 280px;
                }
                & > a {
                    display: block;
                    margin-top: 12px;
                    & + span {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 140%;
                        color: #5C6064;
                        margin-top: 11px;
                        max-width: 223px;
                    }
                }
            }
        }
    }
}